In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import os
pd.set_option('display.max_rows',500)
pd.set_option('display.max_columns',500)

In [15]:
pwd

'C:\\Users\\AbhishekThomas\\Downloads'

In [16]:
os.chdir(r'C:\\Users\\AbhishekThomas\\Downloads')

In [17]:
df=pd.read_csv('Data_Train.csv')
df.head()

,ID,Asst_Reg,GGGrade,Experience,Validation,Yearly Income,Home Status,Unpaid 2 years,Already Defaulted,Designation,Debt to Income,Postal Code,Lend Amount,Deprecatory Records,Interest Charged,Usage Rate,Inquiries,Present Balance,Gross Collection,Sub GGGrade,File Status,State,Account Open,Total Unpaid CL,Duration,Unpaid Amount,Reason,Claim Type,Due Fee,Loan/No Loan
0,95074,421802,II,>10yrs,Vfied,633600.00,MOR??AGE,0,0,GLENDALE NISSAN,12.5496,91300.0,42023.25,0,15.39,88.924,3,607161.90,0.0,19,fully paid,California,17,58598.0,3 years,31216.05,debt consolidation,I,0.0,0
1,134131,3964312,IV,7yrs,Source Verified,85483.20,REN?,0,0,Business Teacher,9.0048,27400.0,38133.00,0,9.94,102.856,0,269234.06,0.0,30,whole,NC,15,18924.0,5 years,11660.49,debt consolidation,I,0.0,0
2,92602,4247560,III,<1yr,Source Verified,79200.00,REN?,0,0,driver,24.9144,32800.0,17100.00,0,22.35,60.372,0,22476.53,0.0,25,whole,Florida,7,15604.0,5 years,5637.87,major purchase,I,0.0,0
3,22591,197179,III,<1yr,Vfied,61600.00,REN?,0,0,AvePoint,16.5816,7000.0,5130.00,0,10.36,116.272,1,15242.09,0.0,22,fully paid,NewJersey,9,22410.0,3 years,15607.17,major purchase,I,0.0,1
4,125060,4646684,V,2yrs,Source Verified,68053.92,REN?,0,0,Lead Tester,40.0512,70800.0,19665.00,0,13.68,127.280,1,65433.94,0.0,32,fully paid,LA,10,36022.0,5 years,27472.86,debt consolidation,I,0.0,0

In [18]:
df_test=pd.read_csv('Data_Train.csv')
df_test.head()

,ID,Asst_Reg,GGGrade,Experience,Validation,Yearly Income,Home Status,Unpaid 2 years,Already Defaulted,Designation,Debt to Income,Postal Code,Lend Amount,Deprecatory Records,Interest Charged,Usage Rate,Inquiries,Present Balance,Gross Collection,Sub GGGrade,File Status,State,Account Open,Total Unpaid CL,Duration,Unpaid Amount,Reason,Claim Type,Due Fee,Loan/No Loan
0,95074,421802,II,>10yrs,Vfied,633600.00,MOR??AGE,0,0,GLENDALE NISSAN,12.5496,91300.0,42023.25,0,15.39,88.924,3,607161.90,0.0,19,fully paid,California,17,58598.0,3 years,31216.05,debt consolidation,I,0.0,0
1,134131,3964312,IV,7yrs,Source Verified,85483.20,REN?,0,0,Business Teacher,9.0048,27400.0,38133.00,0,9.94,102.856,0,269234.06,0.0,30,whole,NC,15,18924.0,5 years,11660.49,debt consolidation,I,0.0,0
2,92602,4247560,III,<1yr,Source Verified,79200.00,REN?,0,0,driver,24.9144,32800.0,17100.00,0,22.35,60.372,0,22476.53,0.0,25,whole,Florida,7,15604.0,5 years,5637.87,major purchase,I,0.0,0
3,22591,197179,III,<1yr,Vfied,61600.00,REN?,0,0,AvePoint,16.5816,7000.0,5130.00,0,10.36,116.272,1,15242.09,0.0,22,fully paid,NewJersey,9,22410.0,3 years,15607.17,major purchase,I,0.0,1
4,125060,4646684,V,2yrs,Source Verified,68053.92,REN?,0,0,Lead Tester,40.0512,70800.0,19665.00,0,13.68,127.280,1,65433.94,0.0,32,fully paid,LA,10,36022.0,5 years,27472.86,debt consolidation,I,0.0,0

In [19]:
test=df_test.copy()

In [20]:
train=df.copy()

In [21]:
train.shape

(87500, 30)

In [22]:
train.head(1)

,ID,Asst_Reg,GGGrade,Experience,Validation,Yearly Income,Home Status,Unpaid 2 years,Already Defaulted,Designation,Debt to Income,Postal Code,Lend Amount,Deprecatory Records,Interest Charged,Usage Rate,Inquiries,Present Balance,Gross Collection,Sub GGGrade,File Status,State,Account Open,Total Unpaid CL,Duration,Unpaid Amount,Reason,Claim Type,Due Fee,Loan/No Loan
0,95074,421802,II,>10yrs,Vfied,633600.0,MOR??AGE,0,0,GLENDALE NISSAN,12.5496,91300.0,42023.25,0,15.39,88.924,3,607161.9,0.0,19,fully paid,California,17,58598.0,3 years,31216.05,debt consolidation,I,0.0,0

In [23]:
train.columns

Index(['ID', 'Asst_Reg', 'GGGrade', 'Experience', 'Validation',
       'Yearly Income', 'Home Status', 'Unpaid 2 years', 'Already Defaulted',
       'Designation', 'Debt to Income', 'Postal Code', 'Lend Amount',
       'Deprecatory Records', 'Interest Charged', 'Usage Rate', 'Inquiries',
       'Present Balance', 'Gross Collection', 'Sub GGGrade', 'File Status',
       'State', 'Account Open', 'Total Unpaid CL', 'Duration', 'Unpaid Amount',
       'Reason', 'Claim Type', 'Due Fee', 'Loan/No Loan'],
      dtype='object')

In [24]:
train.dtypes

ID                       int64
Asst_Reg                 int64
GGGrade                 object
Experience              object
Validation              object
Yearly Income          float64
Home Status             object
Unpaid 2 years           int64
Already Defaulted        int64
Designation             object
Debt to Income         float64
Postal Code            float64
Lend Amount            float64
Deprecatory Records      int64
Interest Charged       float64
Usage Rate             float64
Inquiries                int64
Present Balance        float64
Gross Collection       float64
Sub GGGrade              int64
File Status             object
State                   object
Account Open             int64
Total Unpaid CL        float64
Duration                object
Unpaid Amount          float64
Reason                  object
Claim Type              object
Due Fee                float64
Loan/No Loan             int64
dtype: object

Univariate Analysis

In [25]:
train['Loan_Status'].value_counts()

KeyError: 'Loan_Status'

In [ ]:
train['Loan_Status'].value_counts(normalize=True)

In [ ]:
train['Loan_Status'].value_counts().plot.bar()

The loan of 422 people(around 69%) out of 612 people was approved.

Categorical Variables

In [ ]:
train['Gender'].value_counts(normalize=True).plot.bar()

In [ ]:
train['Married'].value_counts(normalize=True).plot.bar()

In [ ]:
train['Self_Employed'].value_counts(normalize=True).plot.bar()

In [ ]:
train['Credit_History'].value_counts(normalize=True).plot.bar()

Inferences from above bar plots:
    1. 80% of the applicants in the dataset are male.
    2.Around 65% of the applicants in the dataset are married.
    3. Around 15% of the applicants in the dataset are self employed.
    4. Around 85% of the applicants in the dataset have a credit history and have repaid their debts.

Categorical variables with ordinal nature:

In [ ]:
train['Dependents'].value_counts(normalize=True).plot.bar()

In [ ]:
train['Education'].value_counts(normalize=True).plot.bar()

In [ ]:
train['Property_Area'].value_counts(normalize=True).plot.bar()

Inferences from above bar plots:
    1. Most of the applicants don't have dependents.
    2. Around 80% of the total applicants are graduate.
    3. Most of the applicants are from semiurban areas.

Numerical Variables:

In [ ]:
sns.distplot(train['ApplicantIncome'])

In [ ]:
train['ApplicantIncome'].plot.box()

It can be infered from the plot that most of the data in the distribution of applicant income is towards left
which means it is not normally distributed.We will try to make it normal later as algorithm works better with normal distributed datas.

The box plot confirms the presence of extreme values or outliers.
This can be attributed to the income disparity in the society.
Part of this can be driven by the fact that we are looking at people with different education levels.

In [ ]:
train.boxplot(column='ApplicantIncome',by='Education',figsize=(6,5))

We can see that there are a higher number of graduates with very high incomes, which are appearing as the outliers.

In [ ]:
sns.distplot(train['CoapplicantIncome'])

Majority of the coapplicant's income distribution ranges from 0 to 5000. We can also see outliers present and it is not normally distributed.

In [ ]:
train['CoapplicantIncome'].plot.box(figsize=(8,5))

In [ ]:
sns.distplot(train['LoanAmount'])

We can see alot of outliers present in Loan Amount and distribution is fairly normal. The outliers present will be treated in later section.

BIVARIATE ANALYSIS

Categorical vs Target variable

In [ ]:
Gen=pd.crosstab(train['Gender'],train['Loan_Status'])
Gen

In [ ]:
Gen.plot(kind='bar',stacked=True,figsize=(5,5))

In [ ]:
Gen.div(Gen.sum(1).astype(float),axis=0)

In [ ]:
Gen.div(Gen.sum(1).astype(float),axis=0).plot(kind='bar',stacked=True,figsize=(5,5))

It can be inferred that the proportion of male and female applicant is more or less same for both approved and unapproved loans.

In [ ]:
shadi=pd.crosstab(train['Married'],train['Loan_Status'])
shadi

In [ ]:
shadi.plot(kind='bar',stacked=True,figsize=(5,5))

In [ ]:
shadi.div(shadi.sum(1).astype(float),axis=0)

In [ ]:
shadi.div(shadi.sum(1).astype(float),axis=0).plot(kind='bar',stacked=True,figsize=(5,5))

It can be inferred from the plot that the proportion of married applicants is higher for the approved loans.

In [ ]:
dep=pd.crosstab(train['Dependents'],train['Loan_Status'])
dep

In [ ]:
dep.plot(kind='bar',stacked=True,figsize=(5,5))

In [ ]:
dep.div(dep.sum(1).astype(float),axis=0)

In [ ]:
dep.div(dep.sum(1).astype(float),axis=0).plot(kind='bar',stacked=True,figsize=(5,5))

Distribution of applicants with 1 or 3+ dependents is similar across both categories of Loan_Status.

In [ ]:
Edu=pd.crosstab(train['Education'],train['Loan_Status'])
Edu

In [ ]:
Edu.plot(kind='bar',stacked=True,figsize=(5,5))

In [ ]:
Edu.div(Edu.sum(1).astype(float),axis=0)

In [ ]:
Edu.div(Edu.sum(1).astype(float),axis=0).plot(kind='bar',stacked=True,figsize=(5,5))

It seems the proportion of applicants with graduation degree have been approved loan more compare to not graduate applicants.

In [ ]:
Self_Emp=pd.crosstab(train['Self_Employed'],train['Loan_Status'])
Self_Emp

In [ ]:
Self_Emp.plot(kind='bar',stacked=True,figsize=(5,5))

In [ ]:
Self_Emp.div(Self_Emp.sum(1).astype(float),axis=0)

In [ ]:
Self_Emp.div(Self_Emp.sum(1).astype(float),axis=0).plot(kind='bar',stacked=True,figsize=(5,5))

No significant inference can be seen from the Self_Employed vs Loan_Status distribution.

In [ ]:
Cred_Hist=pd.crosstab(train['Credit_History'],train['Loan_Status'])
Cred_Hist

In [ ]:
Cred_Hist.plot(kind='bar',stacked=True,figsize=(5,5))

In [ ]:
Cred_Hist.div(Cred_Hist.sum(1).astype(float),axis=0)

In [ ]:
Cred_Hist.div(Cred_Hist.sum(1).astype(float),axis=0).plot(kind='bar',stacked=True,figsize=(5,5))

It seems applicants with credit history 1 are more likely to get their loan approved.

In [ ]:
Prop=pd.crosstab(train['Property_Area'],train['Loan_Status'])
Prop

In [ ]:
Prop.plot(kind='bar',stacked=True,figsize=(5,5))

In [ ]:
Prop.div(Prop.sum(1).astype(float),axis=0)

In [ ]:
Prop.div(Prop.sum(1).astype(float),axis=0).plot(kind='bar',stacked=True,figsize=(5,5))

Proportions of loans getting approved in semi urban area is higher compare to that of urban and rural areas.

Numerical Variable vs Target Variable

Loan status vs Applicant Income

In [ ]:
train.groupby('Loan_Status')['ApplicantIncome'].mean().plot.bar()

Here y-axis represent the mean applicant income.We don't see any changes in income.
So let's make bins for the applicant income variable for the values in it and analyse the corresponding loan status for the bins.

In [ ]:
bins=[0,2500,4000,6000,80000]
group=['low','Average','High','Very High']
train['Income_bin']=pd.cut(train['ApplicantIncome'],bins,labels=group)

In [ ]:
Income_bin=pd.crosstab(train['Income_bin'],train['Loan_Status'])
Income_bin.div(Income_bin.sum(1).astype(float),axis=0).plot(kind='bar',stacked=True)
plt.xlabel('ApplicantIncome')
plt.ylabel('Percentage')

It can be infered that the applicant income does not affect the chances of loan approval. This inference seems wrong as from domain expertise 
we know the loan approval depends the income of the applicant most of the times.

Coapplicant Income vs Target variable(Loan_Status)

In [ ]:
train['CoapplicantIncome'].describe()

In [ ]:
bins=[0,1000,3000,40000]
group=['Low','Average','High']
train['CoapplicantIncome_bin']=pd.cut(train['CoapplicantIncome'],bins,labels=group)

In [ ]:
CoapplicantIncome_bin=pd.crosstab(train['CoapplicantIncome_bin'],train['Loan_Status'])
CoapplicantIncome_bin=CoapplicantIncome_bin.div(CoapplicantIncome_bin.sum(1).astype(float),axis=0).plot(kind='bar',stacked=True)
plt.xlabel('CoapplicantIncome')
plt.ylabel('Percentage')

The chart shows that if the coapplicantincome is low , the chances of loan approval are high.But this doesnot look right.
Maybe coapplicant income doesnot depend on loan status or maybe there are no coapplicant for some applicant which makes the coapplicant income zero for those applicant and it may be having effect which can be seen on bar graph.

Let's make a new variable by combining appliacnt and coapplicant income and see the combine effect on loan status.

In [ ]:
train['Total_Income']=train['ApplicantIncome']+train['CoapplicantIncome']

In [ ]:
train.head(1)

In [ ]:
train['Total_Income'].describe()

In [ ]:
bins=[0,2500,4000,6000,80000]
group=['Low','Average','High','Very High']
train['Total_Income']=pd.cut(train['Total_Income'],bins,labels=group)

In [ ]:
Total_Income=pd.crosstab(train['Total_Income'],train['Loan_Status'])
Total_Income=Total_Income.div(Total_Income.sum(1).astype(float),axis=0).plot(kind='bar',stacked=True)
plt.xlabel('Total_Income')
plt.ylabel('Percentage')

As we can see that the proportion of applicant with low income have less chances of getting loan approved as compare to average ,
high and very high income.

LoanAmount vs Loan_Status

In [ ]:
train['LoanAmount'].describe()

In [ ]:
bins=[0,100,200,700]
group=['Low','Average','High']
train['LoanAmount_bin']=pd.cut(train['LoanAmount'],bins,labels=group)

In [ ]:
LoanAmount_bin=pd.crosstab(train['LoanAmount_bin'],train['Loan_Status'])
LoanAmount_bin=LoanAmount_bin.div(LoanAmount_bin.sum(1).astype(float),axis=0).plot(kind='bar',stacked=True)
plt.xlabel('LoanAmount')
plt.ylabel('Percentage')

Here we can see that, when the loan amount is low and average ,the proportion of loan approved is higher compare to when 
the loan amount is high.

In [ ]:
##Dropping all the bins columns
train=train.drop(['Income_bin','CoapplicantIncome_bin','LoanAmount_bin','Total_Income'],axis=1)

In [ ]:
train.head(1)

EDA

In [ ]:
train['Dependents'].replace('3+',3,inplace=True)
test['Dependents'].replace('3+',3,inplace=True)
train['Loan_Status'].replace('Y',1,inplace=True)
train['Loan_Status'].replace('N',0,inplace=True)

In [ ]:
correlation=train.corr()

In [ ]:
f,ax=plt.subplots(figsize=(9,6))
sns.heatmap(correlation,vmax=1,cmap='BuPu')

We see that most correlated variables are ApplicantIncome-LoanAmount,Credit_History-Loan_Status and LoanAmount-CoapplicantIncome.

MISSING VALUES TREATMENT

In [ ]:
train.dtypes

In [ ]:
train.isnull().sum()

In [ ]:
train['Gender']=train['Gender'].fillna(train['Gender'].mode())
train['Married']=train['Married'].fillna(train['Married'].mode())
train['Dependents']=train['Dependents'].fillna(train['Dependents'].mode())
train['Self_Employed']=train['Self_Employed'].fillna(train['Self_Employed'].mode())

In [ ]:
train['Gender'] = np.where(train['Gender']==np.nan, train['Gender'].mode()[0], train['Gender'])

In [ ]:
train.isnull().sum()

In [ ]:
train['LoanAmount']=train['LoanAmount'].fillna(train['LoanAmount'].median(),inplace=True)

In [ ]:
train.isnull().sum()

In [ ]:
train['Gender']=train['Gender'].fillna(train['Gender'].mode(),inplace=True)

In [ ]:
train['Gender'].mode()

In [ ]:
train.isnull().sum()

In [ ]:
train['Married'].mode()

In [ ]:
train['Married']=train['Married'].fillna(train['Married'].mode(),inplace=True)

In [ ]:
train.isnull().sum()